body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFFF0;
}

.about-box {
    background-color: #F7E7CE;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.content-box {
    background-color: #F7E7CE;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

h2 {
    color: #333;
}

p {
    color: #666;
}

.content-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* Other styles */
}
