body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .bio-container {
    background-color: #F7E7CE;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
  }
  
  .menu-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFF0;
    border-radius: 25px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  li {
    margin: 0 10px;
  }
  
  .tt {
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    background-color: #F7E7CE;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }